<div>
    <app-header [isFrench]="isFrench" (isFrenchChange)="isFrench = $event"></app-header>
    <div *ngIf="isAdmin && !isConnected">
        <app-login [isConnected]="isConnected" (isConnectedChange)="onIsConnectedChange($event)"></app-login>
    </div>
    <div *ngIf="isAdmin && isConnected">
        <app-description-modifier></app-description-modifier>
    </div>

    <div *ngIf="!isAdmin">
        <div id="about">
            <app-description [isFrench]="isFrench"></app-description>
        </div>
        <div id="currentId">
            <app-current [isFrench]="isFrench"></app-current>
        </div>
    </div>

    <app-footer [isFrench]="isFrench"></app-footer>
</div>